$red: rgba(231, 63, 66);
$family-sans-serif: hindi, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
$navbar-item-hover-color: $red;
$section-padding: 3rem 0rem;
$section-padding-medium: 3rem 1.5rem;
