.footer-links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @include from($tablet) {
        justify-content: center;
    }


    &__item {
        @include until($tablet) {
            flex: 1 0 50%;
            padding: 0 $gap $gap;
            max-width: 250px;
        }
        width: 96px;
        @include from($tablet) {
            margin: 0 $gap $gap;
        }


    }
}
