.container {
    max-width: 975px !important;
}

.entry {
    @include from($tablet){
        width: 293px !important;
        height: 293px !important;
        padding-bottom: 1rem;

    }
    @include until($tablet){
        width: 156px !important;
        height: 156px !important;
        padding-bottom: 0.1rem;

    }
}