.navbar-menu {
    display: flex !important;
    justify-content: space-between;
}

.navbar-item__email {
    //color: $navbar-item-hover-color !important;
    font-weight: bold;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;

    @media (min-width: $tablet) {
        width: auto;
    }
}

.navbar-item > a {
    color: $navbar-item-color;

    &:hover {
        color: $navbar-item-hover-color;
    }

}

.navbar-start {
    display: flex;
    align-items: center;
}

.navbar-end {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
