.navbar-menu {
    display: flex !important;
    justify-content: space-between;
}

.navbar-item__email {
    color: $navbar-item-hover-color !important;
    font-weight: bold;
}

.navbar-item > a {
    color: $navbar-item-color;

    &:hover {
        color: $navbar-item-hover-color;
    }

}

.navbar-end {
    display: flex;
}
