.thumbnail-gallery {
    display: flex;
    flex-wrap: wrap;

    &__entry {
        height: 140px;
        width: 100px;
        margin: 15px;
        position: relative;
        overflow: hidden;

        &-image {
            width: 100%;
            height: calc(100% - 40px);
            object-fit: cover;
            object-position: center center;
            display: block;
        }

        &-text {
            height: calc(100% - 40px);
            overflow: hidden;
            white-space: nowrap;
        }

        &-link {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% - 20px);
        }
    }

    &__add {
        border: 1px solid rgba(0, 0, 0, .125);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}
